h1{
    font-size:50px;
  font-weight: normal;
  color:#1b1612;
}

nav{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(3,auto);
    gap:20px;
    margin:30px
}


a{
    color:black;
    background-color: #ed903b;
    border-radius: 30px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}


a:hover{
    color:white;
}

*{
    box-sizing: border-box ;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}