*{
    box-sizing: border-box ;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



body {
            margin: 0;
            display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

h1{
   font-family:Arial, serif;
  font-size:50px;
  font-weight: normal;
  color:#1b1612;
  text-align:center;
margin-bottom: 15px;

}

h2[id="part"]{
    font-family: Arial, serif;
    font-size:30px;
    color:#1b1612;
    margin-top: 10px;
text-align: center  ;
font-weight: 500;
}

.type_dish{
    font-family: Arial, serif;
    font-size:30px;
    color:#1b1612;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 20px;
}


*{
    box-sizing: border-box ;
}




a[href^="tel:"]{
    color: white;
} 

main{
    margin: 5px;
    padding:5px;
    background-color: white;
    margin-bottom: 40px;
    flex:1;
}


header{
    margin: 0;
    padding:0;
}

button{
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, serif;
    font-size:20px;
    margin:0 10px;
    color:#1b1612;
    background-color:#ed903b;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

button:hover{
    color:white;
}








        .dishes-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        .dish {
            width: 300px;
            background-color: white;
            padding: 30px 40px;
            border-radius: 35px;
            cursor: pointer;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
            display: flex;
            flex-direction: column;
        }

.dish:hover {
    border: 2px solid tomato;}


        .dish-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .dish-image {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 20px;
            margin-bottom: 15px;
        }

        .dish-price {
            font-weight: bold;
            font-size: 22px;
            margin: 5px 0;
            color: #333;
        }

        .dish-name {
            font-size: 20px;
            margin: 5px 0 10px 0;
            color: #222;
            flex-grow: 1;
        }

        .dish-weight {
            font-size: 18px;
            margin: 5px 0 15px 0;
            color: #666;
        }

        .add-button {
            background-color: #f1eee9;
            border: none;
            border-radius: 10px;
            padding: 12px 0;
            font-size: 18px;
            cursor: pointer;
            color: #1b1612;
            margin-top: auto;
            transition: background-color 0.2s;
        }

        .add-button:hover {
            background-color: #e0dcd6;
        }



footer{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #262626;
    margin-top: auto;

}




.navigation a:visited{
    color:#1b1612;
}

.navigation a:hover{
    color:white;
}

.navigation a{
    text-decoration: none;
    font-family: Arial, serif;
    font-size:20px;
    margin:0 10px;
    color:#1b1612;
    background-color:#ed903b;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

nav{
    margin:0px;
    padding:0px;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}






h2{
    font-size:30px;
    color:#1b1612;
    margin-top: 20px;
    text-align:center;
}



#Заказ{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2,50%);
}



h3[id="left"]{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    justify-self: center;
}


h3[id="right"]{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
}


form{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
    
    
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-row:100%;
}


.left{
     grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    display:flex;
    flex-direction: column;
align-items: center;

}

.right{
     grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    display:flex;
    flex-direction: column;
align-items:start;

}



textarea{
    resize: none;
    height: 400px;
    width: 350px;
    border: 2px solid #1b1612 ;
}


input[type="text"],select,[type="email"],[type="tel"]{
    width: 225px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 2px solid #1b1612 ;
    background-color: #F9F9F9;
}

input[type="checkbox"]{
    margin-bottom: 15px;
    margin-top: 10px;
}

.ps{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 13px;
}



p{
    margin: 0px;
}


div[id="times"]{
    margin-bottom: 10px;
}

input[type="time"]{
width: 225px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 5px;
    border: 2px solid #1b1612 ;
    background-color: #F9F9F9;
}

.buttom{
    width: 150px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    border: 2px solid #1b1612 ;
    background-color: #F9F9F9;
    margin: 4px;
}

.buttom:hover{
    cursor: pointer;
}

div[id="Form"]{
    margin-top: 50px;
}


button[id="feedbackk"]{
    margin: 10px;
}

.navigation a.active {
    color: white;
}


/* Для ширины экрана ≤800px */
@media (max-width: 800px) {
    .dishes-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    
    .navigation {
        justify-content: space-between;/*выравнивание с равными промежутками */
    }
}

/* Для ширины экрана ≤600px */
@media (max-width: 600px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    
    .navigation {
        align-items: center;
    }
    
    .navigation a {
        font-size: 24px;
    }
    
    
    .type_dish, h2[id="part"] {
        text-align: center;
        margin-left: 0;
    }
    
    
    .dishes-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    
    #Заказ {
        grid-template-columns: 1fr;
    }
    
    form {
        grid-template-columns: 1fr;
    }
    
    .left, .right {
        grid-column: 1 / -1;
        align-items: center;
    }
    
    h3[id="left"], h3[id="right"] {
        grid-column: 1 / -1;
        text-align: center;
    }
    
    
    textarea, input[type="text"], select, input[type="email"], input[type="tel"] {
        width: 100%;
        max-width: 300px;
    }
    
    
    .dish {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }
}


@media (max-width: 400px) {
    .dishes-container {
        gap: 10px;
    }
    
    .dish {
        padding: 20px 25px;
        max-width: 250px;
    }
    
    .dish-name {
        font-size: 18px;
    }
    
    .dish-price, .dish-weight {
        font-size: 18px;
    }
    
    
    #Form {
        margin-top: 30px;
    }
    
    textarea {
        height: 200px;
        width: 100%;
    }
    
    
    main {
        margin: 5px;
        padding: 5px;
    }
    
    .type_dish {
        margin-left: 10px;
        font-size: 24px;
    }
}


#feedback{
    background-color: #ed801d;
    padding: 20px;
    border-radius: 40px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
     
}

#feedback h3{
    font-weight: 500;
    font-size: 20px;
    text-align:center;
}

#feedback label{
    font-size: 18px;
    margin-top: 7px;
    
}


#feedback input[type="radio"]{
    accent-color:black;
    
}


#feedback select{
    width: 150px;
    margin-top: 8px;
    border: 2px solid #8B4513;
    border-radius: 10px;
}

#feedback input[type="text"], input[type="email"] {
    width: 250px;
    font-size: 18px;
    border: 2px solid #8B4513;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#feedback input[type="file"]{

    width: 250px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}



#feedback textarea {
    width: 250px;
    height: 100px;
    font-size: 16px;
    border: 2px solid #8B4513;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    resize:none;
    font-family: inherit;
}


#feedback input[type="checkbox"]{
    margin-bottom: 10px;
    margin-top: 15px;
}



#feedback input[type="submit"] {
    padding: 12px 30px;
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    
}

#mod{
    display:flex;
justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
}


#signin {
    background-color: #ed801d;
    padding: 20px;
    border-radius: 40px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
}

#signin h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

#signin label {
    font-size: 18px;
    margin-bottom: 8px;
}

#signin input[type="text"],
#signin input[type="password"] {
    padding: 15px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #8B4513;
    margin-top: 7px;
}

#signin input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

#signin input[type="submit"] {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #8B4513;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.close{
    position: fixed;
    top:0;
    right: 0;
    margin:50px;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: 787;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}